<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Members Only</title>
    </head>

    <body>
        <h1>Welcome to Members Only</h1>
        <% if (!userIsMemberOrAdmin && user) { %>
            <a href="/join-club">Join Club</a>
            <% } %>

                <% if (user) { %>
                    <p>Hello, <%= user.username %>!</p>

                    <p><a href="/logout">Logout</a></p>
                    <% } else { %>
                        <p>Please <a href="/login">login</a> or <a href="/signup">sign up</a>.</p>
                        <% } %>

                            <% messages.forEach(msg=> { %>
                                <h2>
                                    <%= msg.title %>
                                </h2>
                                <p>
                                    <%= msg.content %>
                                </p>
                                <% if (userIsMemberOrAdmin) { %>
                                    <small>by <%= msg.author %></small>
                                    <% } %>
                                        <% }) %>
    </body>

</html>